# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore local development files
.idea/
.vscode/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore git-related files
.git
.gitignore

# Ignore log files
*.log

